<!DOCTYPE html>
<html>
<head>
    <title>Complaint Management Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h2 class="head_line">Complaint Management Form</h2>
    <form method="POST">
        <label class="dude">User Name:</label>
        <input type="text" name="user_name" required>

        <label>Process:</label>
        <input type="text" name="process" required>

        <label>Reported By:</label>
        <input type="text" name="reported_by" required>

        <label>Start Time:</label>
        <input type="time" name="start_time" required>

        <label>End Time:</label>
        <input type="time" name="end_time" required>

        <label>Issue Category:</label>
        <select name="issue_category" required>
            {% for cat in categories %}
                <option value="{{ cat }}">{{ cat }}</option>
            {% endfor %}
        </select>

        <label>Sub Category:</label>
        <select name="sub_category" required>
            {% for sub in sub_categories %}
                <option value="{{ sub }}">{{ sub }}</option>
            {% endfor %}
        </select>

        <button type="submit">Submit</button>
    </form>

    <br>
    <a class="download_btn" href="/download">Download Today's Report (Excel)</a>
</body>
</html>
